<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <title>Exoplanets</title>    
</head>


<body>
  <div class="metric-box">
    <h2>Candidates</h2>
    <p id="candidates"></p>
  </div>
  <div class="metric-box">
    <h2>Planetary Systems</h2>
    <p id="planetarySystems"></p>
  </div>
  <div class="metric-box">
    <h2>Confirmed Discoveries</h2>
    <p id="confirmedDiscoveries"></p>
  </div>

  <script>
    async function fetchData() {
      try {
        const response = await fetch("/getMetrics");
        const data = await response.json();

        document.getElementById("candidates").textContent = data.Candidates;
        document.getElementById("planetarySystems").textContent = data["Planetary Systems"];
        document.getElementById("confirmedDiscoveries").textContent = data["Confirmed Discoveries"];
      } catch (error) {
        console.error("Error:", error);
      }
    }

    fetchData();
  </script>
</body>
</html>